[access]
	inheritFrom = Public-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
	owner = group summit-2023
[project]
	description = Gerrit User Summit 2023
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group summit-2023
	label-Verified = -1..+1 group summit-2023
